@model IEnumerable<IoT.Common.Model.Models.RelayGroup>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RelayGroupIpAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelayGroupDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelayGroupLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelayGroupMac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RelayGroupIpAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelayGroupDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelayGroupLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelayGroupMac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
