@model IEnumerable<IoT.Common.Model.Models.Admin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-xs-1">
        <b>Device Name</b>
    </div>
    <div class="col-xs-1">
        <b> Admin Name</b>
    </div>
    <div class="col-xs-2">
        <b>Mobile</b>
    </div>
    <div class="col-xs-2">
        <b> Email</b>
    </div>
    <div class="col-xs-1">
        <b> Alerts Active</b>
    </div>
    <div class="col-xs-1">
        <b> (T) Upper Threshold</b>
    </div>
    <div class="col-xs-1">
        <b> (T) Lower Threshold</b>
    </div>
    <div class="col-xs-1">
        <b> (H) Upper Threshold</b>
    </div>
    <div class="col-xs-1">
        <b> (H) Lower Threshold</b>
    </div>
    <div class="col-xs-2">Actions</div>

</div>

@foreach (var admin in Model)
{
    <div class="row">
        <div class="col-xs-1">
            @admin.Sensor.DeviceName
        </div>
        <div class="col-xs-1">
            @admin.Name
        </div>
        <div class="col-xs-2">
            @admin.Mobile
        </div>
        <div class="col-xs-2">
            @admin.Email
        </div>
        <div class="col-xs-1">
            @(admin.ShouldRecieve == true ? "Yes" : "No")
        </div>
        <div class="col-xs-1">
            @admin.UpperTemperatureThreshold
        </div>
        <div class="col-xs-1">
            @admin.LowerTemperatureThreshold
        </div>
        <div class="col-xs-1">
            @admin.UpperHumidityThreshold
        </div>
        <div class="col-xs-1">
            @admin.LowerHumidityThreshold
        </div>
        <div class="col-xs-1">
            @Html.ActionLink("Edit", "Edit", new { id = admin.Id }) |
            @Html.ActionLink("Details", "Details", new { id = admin.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = admin.Id })
        </div>

    </div>
}

<script>
    $('div').each(function (i, v) {
        $(v).contents().eq(2).wrap('<span class="new" />')
    });

</script>

